<%- include('layouts/boilerplate') %>
<%- include('./partials/navbar') %>

<div class="container mt-5 d-flex justify-content-center">
    <div class="card text-center shadow-sm" style="width: 32rem; min-height: 12rem;">
        <div class="card-body">
            <h1 class="card-title"><%= foundEntry.title %></h1>
            <h4 class="card-subtitle mb-2 text-body-secondary"><%= foundEntry.date.toDateString() %></h4>
            <h2 class="card-text"><%= foundEntry.content %></h2>
            <p class="card-text">Created by ~ <%= foundEntry.author[0].username %></p>
            
            <!-- Buttons inside the card -->
            <div class="mt-3 d-flex justify-content-center gap-3">
                <a href="/show/<%= foundEntry._id %>/edit"></a>
                    <button class="btn btn-primary mx-5">Edit</button>
                </a>
                <form action="/show/<%= foundEntry._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mx-5">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
